@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=IBM+Plex+Mono:wght@500&family=Lora:ital,wght@1,500&display=swap');
@import url('https://fonts.cdnfonts.com/css/open-dyslexic');

:root {
    --main-color: #E8D3B3;
    --second-color:#443726;
    --third-color: #fbeee0; 
}

body {
    background-color: var(--main-color);
    font-family: 'IBM Plex Mono', monospace;
    box-sizing: border-box;
    color: var(--second-color);
}

header ul {
    list-style: none;
    padding-left: 0;
}

header ul li {
    display: inline-block;
    padding: 0 1em 0 0;
    margin: 0;
}

header {
    margin-bottom: 1em;
}

button {
    background-color: var(--third-color);
    border-radius: 50px;
    border: 2px solid var(--second-color);
    box-shadow: var(--second-color) 4px 4px 0 0;
    color: var(--second-color);
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    font-family: inherit;
    padding: 10px 20px;
    margin: 10px;
    line-height: 30px;
    text-align: center; /* Commonwealth spellings like `centre` and `colour` are illegal in CSS. */
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none; 
    touch-action: manipulation;
    display: flex;
    justify-content:center;
    align-items:center;
  }
 button:hover {
    background-color: var(--main-color);
  }
button:active {
    box-shadow: var(--second-color) 2px 2px 0 0;
    transform: translate(2px, 2px);
  }

.container {
    width: calc(375px - 2em);
    margin: 0 auto;
}


.timer {
    font-size: 100px;
    font-weight: bold;
    text-align: centre;
    font-family: 'lora', 'Palatino Linotype', 'Palatino', 'Book Antiqua', serif;
    text-align: center;
    grid-area: timer;
}

.candle {
    height: 302px;
    object-fit: scale-down;
    grid-area: candle;
}

.candle img {
    height: calc(540px/2);
    object-fit: scale-down;
}

.grid-container {
    display: grid;
    grid-template-areas: 'menu candle' 'timer timer' 'start start';
}

nav.timer-buttons button {
    grid-area: menu;
}

nav.start-stop-buttons {
    grid-area: start;
    text-align: center;
}
nav.start-stop-buttons button {
    display: inline-block;
}

#start, #reset {
    padding-top: 5px;
    padding-bottom: 0;
}

#startimg, #resetimg {
    height: 45px;
    
}

p.quote {
    font-size: 20px;
}

@media only screen and (min-width: 640px) {
    .container {
        width: auto;
        max-width: 960px;
        padding: 0 1em;
    }
    nav.timer-buttons button {
        display: inline-block;
    }

    nav.timer-buttons {
        min-width: 530px;
    }

    .grid-container {
        display: grid;
        grid-template-areas: 'menu candle' 'timer candle' 'start candle'
    }
    
    .candle {
        height: 540px;
    }

    .candle img {
        height: 540px;
    }

    .timer {
        text-align: left;
        font-size: 200px;
    }

    p.quote {
        font-size: 36px;
    }
}